---
layout: default
---

{% for post in site.categories.main %}
<h1>{{ post.title }}</h1>
<main>
  {{ post.content }}
</main>
{% endfor %}

<!-- {% assign posts = site.posts | where_exp:"post","post.categories != 'main'" %} -->
<h3>Kriptografi</h3>
<ol>
{% for post in site.categories.cryptography reversed %}
  <li>
    <a href="{{ post.url }}" title="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ol>

<h3>Kristen</h3>
<ol>
  {% for post in site.categories.christianity reversed %}
  {% if post.url %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endif %}
  {% endfor %}
</ol>

<h3>Artikel</h3>
<ol>
  {% for post in site.categories.article reversed %}
  {% if post.url %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endif %}
  {% endfor %}
</ol>
