<footer>
    <nav>
       <ul>
           <li><a href="https://github.com/deovaliandro/deovaliandro.github.io/edit/main/{{page.path}}">edit</a></li>
           <li><a href="{{ " /feed.xml " | prepend: site.baseurl }}">rss</a></li>
       </ul> 
    </nav>

    <div id="lic">
        &copy; Deo Valiandro. M, 2016 - 2022 dibuat dengan <a id="love">❤️️</a> dari localhost.
    </div>
</footer>
<script>
    const toggleSwitch = document.getElementById("changeTheme");
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);

        if (currentTheme === 'dark') {
            stylesheet.setAttribute('href', '/assets/css/gruvbox.css');
            toggleSwitch.innerHTML = "light";
        } else {
            stylesheet.setAttribute('href', '/assets/css/github.css');
            toggleSwitch.innerHTML = "dark";
        }
    }

    toggleSwitch.onclick = function() {
        var stylesheet = document.getElementById("stylesheet");
        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
        if (currentTheme === 'dark') {
            document.documentElement.setAttribute('data-theme', 'light');
            stylesheet.setAttribute('href', '/assets/css/github.css');
            localStorage.setItem('theme', 'light');
            toggleSwitch.innerHTML = "dark";
        } else {
            document.documentElement.setAttribute('data-theme', 'dark');
            stylesheet.setAttribute('href', '/assets/css/gruvbox.css');
            localStorage.setItem('theme', 'dark');
            toggleSwitch.innerHTML = "light";
        }
    };
</script>