<footer>
    <div class="center">
        <a
            target="_blank"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
            CC BY-NC-SA 4.0</a> 2016-Sekarang, &copy; Deo Valiandro. M,
            <span id="love">🌱</span> with <span id="love">❤️</span>
            from <span id="love">🇮🇩</span>.
        <br>
        <b>
            Situs berbasis google sana google sini, copas sana copas sini!!!
        </b>
        <p>Kontak:
            <a href="https://github.com/deovaliandro">GitHub</a>,
            <a href="https://gitlab.com/deovaliandro">GitLab</a>,
            <a href="mailto:{{ 'me@deo.or.id' | encode_email }}">💌 me@deo.or.id</a>,
            <br>
            <a href="https://twitter.com/deovaliandro">#️⃣ @deovaliandro</a>,
            <a href="@deo@fosstodon.org">🕵️ @deo@fosstodon.org</a>,
            <a href="/about.html"> 📂 sig.</a>
        </p>
    </div>
</footer>