[<a href="/todo.html" class="nav">/todo</a>][<a href="/link.html" class="nav">/link</a>][<a href="/pp.html" class="nav">/pp</a>][<a href="/pbo.html" class="nav">/pbo</a>][<a onclick="switchTheme();" class="nav" id="changeTheme">/dark</a>]
<script>
const toggleSwitch = document.getElementById("changeTheme");
const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

if (currentTheme === 'dark') {
    toggleSwitch.innerHTML = "/light";
} else {
    toggleSwitch.innerHTML = "/dark";
}

if (currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme);

    if (currentTheme === 'dark') {
        document.documentElement.setAttribute('data-theme', 'dark');
        // stylesheet.setAttribute('href', '/assets/css/gruvbox.css');
    }
}

toggleSwitch.onclick = function() {
    var stylesheet = document.getElementById("stylesheet");
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    if (currentTheme === 'dark') {
        document.documentElement.setAttribute('data-theme', 'light');
        stylesheet.setAttribute('href', '/assets/css/github.css');
        localStorage.setItem('theme', 'light');
        toggleSwitch.innerHTML = "/dark";
    } else {
        document.documentElement.setAttribute('data-theme', 'dark');
        stylesheet.setAttribute('href', '/assets/css/gruvbox.css');
        localStorage.setItem('theme', 'dark');
        toggleSwitch.innerHTML = "/light";
    }
};
</script>
