/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

:root {
    --bg: #fff;
    --hr: #eee;
    --font-color: #4B4B4B;
    --blockquote: #f9f9f9;
    --meta: #828282;
    --link: #54008c;
    --font: sans-serif;
    --mono: monospace;
}

[data-theme="dark"] {
    --bg: #282828;
    --hr: #d79921;
    --font-color: #ebdbb2;
    --blockquote: #504945;
    --meta: #d5c4a1;
    --link: #d79921;
}

html {
    font-size: 14pt;
}
body {
    font-family: var(--font);
    color: var(--font-color);
    background-color: var(--bg);
    max-width: 35rem;
    margin: auto;
    word-break: break-word;
}

.katex {
    font-size: 1.1em !important;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 2rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    line-height: 1.5rem;
}

a {
    color: var(--link);
    text-decoration: none;
    background-color: transparent;
}

a.bare {
    word-break: break-all;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 1em;
}

blockquote {
    background: var(--blockquote);
    border-left: 5px solid var(--hr);
    padding: 1em;
    margin-left: 0;
}

ol.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

ol.dash>li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

table.linenotable {
    border-collapse: separate;
    border: 0;
    margin-bottom: 0;
    background: 0 0;
}

table.linenotable td.linenos {
    border-right: 1px solid currentColor;
    opacity: 0.35;
    padding-right: 0.5em;
}

table.linenotable td.code {
    padding-left: 0.75em;
}

table:not(.linenotable) {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table:not(.linenotable) thead th {
    border-bottom: 1px solid #ddd;
}

td,
th {
    padding: 5px;
}

tfoot,
thead,
tr:nth-child(even) {
    background: #eee;
}

ul.checklist {
    list-style-type: none;
}

code,
pre {
    font-family: var(--mono);
    line-height: 1.5em;
    overflow-x: auto;
    font-variant-ligatures: normal;
    font-size: 16px;
}

p>code {
    white-space: nowrap;
}

.tableblock {
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

img,
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80vh;
}

video {
    margin-bottom: 1rem;
}

hr {
    position: relative;
    border: 0;
    border-top: 2px solid var(--hr);
    border-bottom: 1px solid var(--bg);
}

.meta {
    color: var(--meta);
    font-family: var(--font);
    font-weight: 400;
}

.center {
    text-align: center;
    overflow-x: auto;
}

.navigation {
    margin-top: 0.8em;
}

.medsos>a:hover {
    text-decoration: none;
}

.icon {
    fill: var(--font-color);
    width: 37px;
    height: 37px;
    margin-right: 1em;
    margin-top: 1em;
    display: inline-block;
}

.me {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    margin-top: 2.5rem;
}

.email {
    margin: 0;
    font-family: var(--mono);
}

.sub {
    margin: 0;
}

.back {
    font-size: 1em;
}

li>p {
    margin: 0;
}

.checklist {
    padding-left: 0.5em;
}

ol.post li {
    display: flex;
}
ol.post li span {
    flex: 0 0 95px;
}

#changeTheme {
    font-size: 2em;
    vertical-align: middle;
}

button {
    background-color: transparent;
    border: none;
}