@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

:root {
    --link: #54008c;
    --rev: #fff;
    --bg: #fff;
    --hr: #eee;
    --font-color: #4B4B4B;
    --blockquote: #f9f9f9;
    --meta: #828282;
    --font: 'Open Sans', sans-serif;
    --mono: "Source Code Pro", "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
}

[data-theme="dark"] {
    --bg: #282828;
    --font-color: #ebdbb2;
    --hr: #d79921;
    --blockquote: #504945;
    --meta: #d5c4a1;
    --link: #d79921;
}

@media(min-width: 480px) {
    html {
        font-size: 14pt;
    }
}

body {
    font-family: var(--font);
    color: var(--font-color);
    line-height: 1.5;
    margin: 0;
    overflow-y: scroll;
    background-color: var(--bg);
    text-rendering: optimizeLegibility;
}

main {
    max-width: 35rem;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 0;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

a {
    color: var(--link);
    text-decoration: none;
    background-color: transparent;
}

a.bare {
    word-break: break-all;
}

.post {
    font-weight: 400;
}

ol.post li {
    display: flex;
}

ol.post li span {
    flex: 0 0 130px;
}

.desc {
    margin-top: 0;
    color: #515151;
}

.tableblock {
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

img,
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80vh;
}

video {
    margin-bottom: 1rem;
}

hr {
    position: relative;
    border: 0;
    border-top: 1px solid var(--hr);
    border-bottom: 1px solid var(--bg);
}

.post {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.meta {
    color: var(--meta);
    font-family: var(--font);
    font-weight: 400;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 1em;
}

blockquote {
    background: var(--blockquote);
    border-left: 5px solid var(--hr);
    padding: 1em;
}

table.linenotable {
    border-collapse: separate;
    border: 0;
    margin-bottom: 0;
    background: 0 0;
}

table.linenotable td.linenos {
    border-right: 1px solid currentColor;
    opacity: 0.35;
    padding-right: 0.5em;
}

table.linenotable td.code {
    padding-left: 0.75em;
}


table:not(.linenotable) {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table:not(.linenotable) thead th {
    border-bottom: 1px solid #ddd;
}

td,
th {
    padding: 5px;
}

tfoot,
thead,
tr:nth-child(even) {
    background: #eee;
}

ul.checklist {
    list-style-type: none;
}

code,
pre {
    font-family: var(--mono);
    line-height: 1.5em;
    overflow-x: auto;
}

.listingblock>.content>pre:not(.highlight),
code {
    /* color: rgba(0, 0, 0, 0.9); */
    font-size: 0.9em;
}

p>code {
    white-space: nowrap;
}

.center {
    text-align: center;
    overflow-x: auto;
}

.title {
    text-align: center;
    color: #666;
    font-style: italic;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

.medsos {
    margin-top: 1em;
}

.medsos>a:hover {
    text-decoration: none;
}

.icon {
    fill: var(--font-color);
    width: 37px;
    height: 37px;
    margin-right: 1em;
    display: inline-block;
}

.me {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.email {
    font-size: 20px;
    font-family: "Source Code Pro";
    margin: 0;
}

.sub {
    margin: 0;
}

.back {
    font-size: 1em;
}

li>p {
    margin: 0;
}

.checklist {
    padding-left: 0.5em;
}

ol.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

ol.dash>li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

.switch {
    margin-top: 2em;
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}