$mono: 'DM Mono', monospace;
$inter: Inter, sans-serif;

body {
  font: 400 1rem /32px $inter;
  max-width: 80ch;
  margin: 0 auto;
  padding: 2ch;
  color: #222;
}

h1 {
  text-align: center;
}

nav > a {
  margin-right: .5rem;
}

.signed-by {
  font-size: 1rem;
  text-align: center;
}

cite {
  font-size: 0.8em;
  margin-left: 1em;
}

a {
  &.bare {
    word-break: break-all;
  }
  text-decoration: none;
}

ol, ul {
  >li {
    line-height: 2em;
  }
}

pre, code {
  font-family: $mono;
  word-break: keep-all;
  white-space: pre-wrap;
}

pre {
  // padding: 8px 15px;
  background: #f8f8f8;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

code {
  line-height: 0;

  &:not(pre>code) {
    background-color: #fff8d3;
    border: 1px solid #f0d547;
    padding: .15rem .2rem .05rem;
  }
}

hr {
  border: 0.1px solid #d8dae1;
}

blockquote {
  margin: 1em auto;
}

.quoteblock {
  margin: 1em auto;
  padding: 1rem;
  border-left: 1rem solid #444;
  background-color: #f8f8f8;
  box-shadow: 0 0 2px #3c485826;
}

summary {margin-right: 2rem;
}

img, video {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 100%;
}

kbd {
  color: #444;
  border: 1px solid #444;
  border-bottom: 3px solid #444;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}

mark {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #fd3;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  overflow: auto;
  width: 100%;

  >p {
    padding: 0;
  }
}

th {
  border: 1px solid #898ea4;
  padding: .5rem;
  background-color: #f5f7ff;
  font-weight: bold;
}

tr:nth-child(2n) {
  background-color: #f5f7ff;
}

td {
  border: 1px solid #898ea4;
  text-align: left;
  padding: .5rem;
}

.button {
  min-width: 90px;
  display: inline-block;
  padding: .375rem .625rem .375rem .625rem;
  background: #fff;
  border: rgba(209, 213, 219, 1) 1px solid;
  border-radius: .25rem;
  font-size: .8rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: #000;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;

  &:hover {
    background-color: rgba(249, 250, 251, 1);
  }
}

.text-center {
  text-align: center;
}

.attribution {
  font-size: 0.8em;
  margin-left: 1em;
}

.icon {
  display: inline-block;
  line-height: .75em;
  width: .4em;
  vertical-align: .1em;
}

.alert {
  padding: .5rem;
  border: 1px solid transparent;
  background-color: #F4F4F4;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > p {
    margin: 0;
    font-size: 1rem;
  }
}

.alert-danger {
  background: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.alert-info {
  background: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb;
}

.highlight {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;
  padding-left: 2ch;
}

.lang-tag {
  display: block;
  padding: 0 1ch;
  float: right;
}

footer {
  text-align: center;
}

// mobile
@media only screen and (max-width: 720px) {
  main {
    margin: 3vw;
  }

  nav {
    margin-top: 0;

    .main {
      margin-left: 3vw;
      margin-right: 3vw;
    }
  }
}

// rouge
pre.rouge table td{padding:5px}pre.rouge table pre{margin:0}pre.rouge .cm{color:#998;font-style:italic}pre.rouge .cp{color:#999;}pre.rouge .c1{color:#998;font-style:italic}pre.rouge .cs{color:#999;;font-style:italic}pre.rouge .c,pre.rouge .cd,pre.rouge .ch,pre.rouge .cpf{color:#998;font-style:italic}pre.rouge .err{color:#a61717;background-color:#e3d2d2}pre.rouge .gd{color:#000;background-color:#fdd}pre.rouge .ge{color:#000;font-style:italic}pre.rouge .gr{color:#a00}pre.rouge .gh{color:#999}pre.rouge .gi{color:#000;background-color:#dfd}pre.rouge .go{color:#888}pre.rouge .gp{color:#555}pre.rouge .gu{color:#aaa}pre.rouge .gt{color:#a00}pre.rouge .kc{color:#000;}pre.rouge .kd{color:#000;}pre.rouge .kn{color:#000;}pre.rouge .kp{color:#000;}pre.rouge .kr{color:#000;}pre.rouge .kt{color:#458;}pre.rouge .k,pre.rouge .kv{color:#000;}pre.rouge .mf{color:#099}pre.rouge .mh{color:#099}pre.rouge .il{color:#099}pre.rouge .mi{color:#099}pre.rouge .mo{color:#099}pre.rouge .m,pre.rouge .mb,pre.rouge .mx{color:#099}pre.rouge .sa{color:#000;}pre.rouge .sb{color:#d14}pre.rouge .sc{color:#d14}pre.rouge .sd{color:#d14}pre.rouge .s2{color:#d14}pre.rouge .se{color:#d14}pre.rouge .sh{color:#d14}pre.rouge .si{color:#d14}pre.rouge .sx{color:#d14}pre.rouge .sr{color:#009926}pre.rouge .s1{color:#d14}pre.rouge .ss{color:#990073}pre.rouge .dl,pre.rouge .s{color:#d14}pre.rouge .na{color:teal}pre.rouge .bp{color:#999}pre.rouge .nb{color:#0086b3}pre.rouge .nc{color:#458;}pre.rouge .no{color:teal}pre.rouge .nd{color:#3c5d5d;}pre.rouge .ni{color:purple}pre.rouge .ne{color:#900;}pre.rouge .fm,pre.rouge .nf{color:#900;}pre.rouge .nl{color:#900;}pre.rouge .nn{color:#555}pre.rouge .nt{color:navy}pre.rouge .vc{color:teal}pre.rouge .vg{color:teal}pre.rouge .vi{color:teal}pre.rouge .nv,pre.rouge .vm{color:teal}pre.rouge .ow{color:#000;}pre.rouge .o{color:#000;}pre.rouge .w{color:#bbb}pre.rouge{background-color: #f5f5f5}