// paramaeter
$main-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
$monospace: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

body {
  font: 400 1rem /32px $main-font;
}

main {
  display: flex;
  flex-wrap: wrap;
  // flex-grow: 0;
  padding: 1rem;
  justify-content: center;
}

section {
  width: 80ch;
  margin-left: 2rem;
}

nav {
  width: 24ch;
  ul {
    border-right: 1px solid #edf2f7;
    list-style: none;

    li {
      text-align: right;
      margin-right: 2rem;
    }
  }
}

.toc {
  border: 1px solid #d8dae1;
  border-radius: 5px;
  padding-left: 1ch;

  .sectlevel1 {
    list-style: decimal-leading-zero;

    .sectlevel2 {
      list-style: lower-latin;
    }
  }
}

time {
  font-variant-numeric: tabular-nums;
}

hr {
  border: 0.1px solid #d8dae1;
}

blockquote {
  margin: 1em auto;
}

.quoteblock {
  margin: 1em auto;
  padding: 1rem;
  border-left: 1rem solid #444;
  background-color: #f8f8f8;
  box-shadow: 0 0 2px #3c485826;
}

footer {
  text-align: center;
}

#list-post > li {
  display: flex;
  list-style: none;
  margin-left: -2rem;
  justify-content: space-between;
}

#me {
  width: 15ch;
  float: right;
  padding: 1ch;
  border-radius: 50%;
}

#home {
  text-decoration: none;
  color: #000;
}

#time-right  {
  float: right;
}

code {
  font-family: $monospace;
}

code:not(pre>code) {
  padding: .2em;
  line-height: 1.4em;
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  border-radius: 5px;
  overflow-x: auto;
}

mark {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #fd3;
}

// table
table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  overflow: auto;
  width: 100%;

  > tbody > tr > td > p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

th {
  border: 1px solid #898ea4;
  padding: .5rem;
  background-color: #f5f7ff;
  font-weight: bold;
}

tr:nth-child(2n) {
  background-color: #f5f7ff;
}

td {
  border: 1px solid #898ea4;
  text-align: left;
  padding: .5rem;
}

// kbd
kbd {
  color: #444;
  border: 1px solid #444;
  border-bottom: 3px solid #444;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}

// rouge
pre.rouge {
  padding: 1ch;
  line-height: 1.4em;
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  border-radius: 5px;
  overflow-x: auto;
}

pre.rouge table td{padding:5px}pre.rouge table pre{margin:0}pre.rouge .cm{color:#998;font-style:italic}pre.rouge .cp{color:#999;}pre.rouge .c1{color:#998;font-style:italic}pre.rouge .cs{color:#999;;font-style:italic}pre.rouge .c,pre.rouge .cd,pre.rouge .ch,pre.rouge .cpf{color:#998;font-style:italic}pre.rouge .err{color:#a61717;background-color:#e3d2d2}pre.rouge .gd{color:#000;background-color:#fdd}pre.rouge .ge{color:#000;font-style:italic}pre.rouge .gr{color:#a00}pre.rouge .gh{color:#999}pre.rouge .gi{color:#000;background-color:#dfd}pre.rouge .go{color:#888}pre.rouge .gp{color:#555}pre.rouge .gu{color:#aaa}pre.rouge .gt{color:#a00}pre.rouge .kc{color:#000;}pre.rouge .kd{color:#000;}pre.rouge .kn{color:#000;}pre.rouge .kp{color:#000;}pre.rouge .kr{color:#000;}pre.rouge .kt{color:#458;}pre.rouge .k,pre.rouge .kv{color:#000;}pre.rouge .mf{color:#099}pre.rouge .mh{color:#099}pre.rouge .il{color:#099}pre.rouge .mi{color:#099}pre.rouge .mo{color:#099}pre.rouge .m,pre.rouge .mb,pre.rouge .mx{color:#099}pre.rouge .sa{color:#000;}pre.rouge .sb{color:#d14}pre.rouge .sc{color:#d14}pre.rouge .sd{color:#d14}pre.rouge .s2{color:#d14}pre.rouge .se{color:#d14}pre.rouge .sh{color:#d14}pre.rouge .si{color:#d14}pre.rouge .sx{color:#d14}pre.rouge .sr{color:#009926}pre.rouge .s1{color:#d14}pre.rouge .ss{color:#990073}pre.rouge .dl,pre.rouge .s{color:#d14}pre.rouge .na{color:teal}pre.rouge .bp{color:#999}pre.rouge .nb{color:#0086b3}pre.rouge .nc{color:#458;}pre.rouge .no{color:teal}pre.rouge .nd{color:#3c5d5d;}pre.rouge .ni{color:purple}pre.rouge .ne{color:#900;}pre.rouge .fm,pre.rouge .nf{color:#900;}pre.rouge .nl{color:#900;}pre.rouge .nn{color:#555}pre.rouge .nt{color:navy}pre.rouge .vc{color:teal}pre.rouge .vg{color:teal}pre.rouge .vi{color:teal}pre.rouge .nv,pre.rouge .vm{color:teal}pre.rouge .ow{color:#000;}pre.rouge .o{color:#000;}pre.rouge .w{color:#bbb}
