@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;1,400&family=Inter:wght@400;700&family=EB+Garamond:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --width: 80ch;
    --font: 'Inter', sans-serif;
    --font-h: 'Open Sans', system-ui;
    --monospace: 'DM Mono', monospace;
    --color-border: #e4e4e7;
}

body {
    font: 400 1rem /32px var(--font);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-h);
    border-bottom: 1px solid var(--color-border);
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid red;
}

@media only screen and (max-width: 960px) {
    nav {
        flex-grow: 1;
        text-align: left !important;
    }

    .time-right {
        visibility: hidden;
    }
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    order: 0;
    margin: 0 2ch 0 0;
    text-align: right;

    ul {
        li {
            list-style: none;
        }
    }
}

article {
    order: 1;
    width: 80ch;
    margin: 0 2ch 0 2ch;
}

hr {
    border: .1px solid #d8dae1;
}

blockquote {
    margin: 1em auto;
}

.quoteblock {
    padding: 0 15px;
    border-left: 4px solid #e5e5e5;
    color: #858585;
    box-shadow: 0 0 2px #3c4858;

    .attribution {
        font-size: .8em;
        font-style: italic;
    }
}

footer {
    text-align: center;
    margin-top: 2ch;
    margin-bottom: 4ch
}

#me {
    border: .1px solid black;
    width: 119px;
}

.time-right {
    float: right;
    font-variant-numeric: tabular-nums;
}

code, pre {
    font-family: var(--monospace);
}

code:not(pre>code) {
    padding: .3ch .6ch;
    border-radius: 1ch;
    border: 1px solid var(--color-border);
}

mark {
    padding: 2px 5px;
    border-radius: 1ch;
    border: 1px solid #f0d547;
    background-color: #fff8d3;
}

table {
    border-collapse: collapse;
    margin: 1.5rem 0;
    overflow: auto;
    width: 100%;

    >tbody>tr>td>p {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

th {
    border: 1px solid #898ea4;
    padding: .5rem;
    background-color: #f5f7ff;
    font-weight: bold;
}

tr:nth-child(2n) {
    background-color: #f5f7ff;
}

td {
    border: 1px solid #898ea4;
    text-align: left;
    padding: .5rem;
}

kbd {
    color: #444;
    border: 1px solid #444;
    border-bottom: .5ch solid #444;
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
}

.rouge {
    padding: 1ch;
    line-height: 1.4em;
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    border-radius: 5px;
    overflow-x: auto;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
    color: #282828;
}
.highlight .err {
    color: #9d0006;
    background-color: #fbf1c7;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
    color: #928374;
}
.highlight .cp {
    color: #427b58;
}
.highlight .nt {
    color: #9d0006;
}
.highlight .o, .highlight .ow {
    color: #282828;
}
.highlight .p, .highlight .pi {
    color: #282828;
}
.highlight .gi {
    color: #79740e;
    background-color: #fbf1c7;
}
.highlight .gd {
    color: #9d0006;
    background-color: #fbf1c7;
}
.highlight .gh {
    color: #79740e;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
    color: #9d0006;
}
.highlight .kc {
    color: #8f3f71;
}
.highlight .kt {
    color: #b57614;
}
.highlight .kd {
    color: #af3a03;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color: #79740e;
}
.highlight .si {
    color: #79740e;
}
.highlight .sr {
    color: #79740e;
}
.highlight .sa {
    color: #9d0006;
}
.highlight .se {
    color: #af3a03;
}
.highlight .nn {
    color: #427b58;
}
.highlight .nc {
    color: #427b58;
}
.highlight .no {
    color: #8f3f71;
}
.highlight .na {
    color: #79740e;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
    color: #8f3f71;
}
.highlight .ss {
    color: #076678;
}
