@import 'font';
@import 'rougify';
@import 'icons';

:root {
  --font: 'Source Serif 4', sans-serif;
  --monospace: 'DM Mono', monospace;
  --color-border: #e4e4e7;
}

body {
  width: 80vw;
  font: 400 1.2rem /32px var(--font);
  margin: 0 auto;
  text-align: justify;
  font-variant-ligatures: none;
  text-rendering: geometricPrecision;
  font-variant-numeric: tabular-nums;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #888;
  font-variant-caps: small-caps;
  line-height: 1;
  letter-spacing: -.75px;
}

h2, h3, h4 {
  border-bottom: 1px dotted #888;
}

h1 {
  text-align: center;
  font-size: 3rem;
  border-bottom: none;
  margin-bottom: -.2rem;
}

h2 {
  font-size: 2rem;
  text-align: right;
  letter-spacing: -.75px;
}

h3,
h4 {
  font-size: 1.8rem;
  border-bottom: 1px dotted #888;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #888;
}

@media only screen and (max-width: 960px) {
  body {
    margin: 2ch;
  }

  nav {
    flex-grow: 1;
    text-align: left !important;

    ul {
      li {
        list-style: none;

        a {
          border-bottom: 1px dotted #888;
          font-variant-caps: small-caps;
        }
      }
    }
  }

  .time-right {
    visibility: hidden;
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  padding-right: 2ch;
  text-align: right;

  ul {
    li {
      list-style: none;

      a {
        border-bottom: 1px solid red;
        font-variant-caps: small-caps;
      }
    }
  }
}

article {
  width: 80ch;
  margin: 0 2ch 0 2ch;
}

.content>.paragraph:first-child:first-letter {
  font-size: 5rem;
  font-family: 'DeutscheZierschrift';
  float: left;
  padding-right: .2ch;
}

hr {
  border: .1px solid #d8dae1;
}

blockquote {
  margin: 1rem auto;
  font-size: 1rem;
}

.quoteblock {
  padding: 1ch 4ch;
  border-left: 4px solid #e5e5e5;
  font-style: italic;
  box-shadow: 0 0 2px #3c4858;

  .attribution {
    font-size: .8rem;
    font-style: normal;
    padding-bottom: 2ch;
    text-align: right;

    a {
      border-bottom: none;
    }
  }
}

footer {
  text-align: center;
  margin-top: 2ch;
  margin-bottom: 4ch
}

#me {
  display: flex;

  img {
    width: 10rem;
  }
}

#list-post {
  line-height: 2.2rem;

  a {
    border-bottom: 1px solid red;
  }
}

.edit {
  text-align: center;

  h3 {
    border-bottom: none;
    margin: 1ch 0 0 0;
  }

  p {
    margin: 0 0 4ch 0;
  }

  a {
    border-bottom: 1px solid red;
  }
}

.signed-by {
  margin-bottom: 2ch;
  text-align: center;
}

.time-right {
  float: right;
  font-variant-numeric: tabular-nums;
}

code,
pre {
  font-family: var(--monospace);
  font-size: 1rem;
}

code:not(pre>code) {
  padding: .3ch .6ch;
  border-radius: 1ch;
  border: 1px solid var(--color-border);
}

mark {
  padding: 2px 5px;
  border-radius: 1ch;
  border: 1px solid #f0d547;
  background-color: #fff8d3;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  overflow: auto;
  width: 100%;

  tr {
    text-align: center;
  }

  >tbody>tr>td>p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

th {
  border: 1px solid #898ea4;
  padding: .5rem;
  background-color: #f5f7ff;
  font-weight: bold;
}

tr:nth-child(2n) {
  background-color: #f5f7ff;
}

td {
  border: 1px solid #898ea4;
  text-align: left;
  padding: .5rem;
}

kbd {
  color: #444;
  border: 1px solid #444;
  border-bottom: .3ch solid #444;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}

.rouge {
  padding: 1ch;
  line-height: 1.4rem;
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;
  border-radius: 5px;
  overflow-x: auto;
}

img,
video {
  display: block;
  height: auto;
  margin: auto;
  width: 80%;
}