:root {
    --main: #086E7D;
    --rev: #fff;
}

@media(min-width: 480px) {
    html {
        font-size: 14pt;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-y: scroll;
    line-height: 1.5;
}

main {
    max-width: 35rem;
    margin: auto;
}

nav {
    margin: 0;
    text-align: center;
    padding: 0.3em;
    background-color: var(--main);
}

nav>a {
    font-family: "Source Code Pro", "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
    font-weight: 400;
    color: var(--rev);
    text-decoration: none;
}

nav>a:not(:first-child) {
    margin-left: 1em;
}

nav>a:hover {
    background-color: var(--rev);
    color: var(--main);
}

h1 {
    text-align: center;
    font-weight: 400;
}

h2 {
    margin: 0;
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

a {
    color: var(--main);
    text-decoration: underline;
}

.tableblock {
    margin: 0;
}

a:hover {
    color: var(--rev);
    background-color: var(--main);
}

img,
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80vh;
}

video {
    margin-bottom: 1rem;
}

hr {
    position: relative;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

.post {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.post > li {
    margin-top: 1em;
}

.meta {
    color: #828282;
    font-family: "Open Sans", sans-serif;
    margin-top: -.5em;
    padding-bottom: 1.5em;
}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 1em;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 1em;
}

table.linenotable {
    border-collapse: separate;
    border: 0;
    margin-bottom: 0;
    background: 0 0;
}

table.linenotable td.linenos {
    border-right: 1px solid currentColor;
    opacity: 0.35;
    padding-right: 0.5em;
}

table.linenotable td.code {
    padding-left: 0.75em;
}


table:not(.linenotable) {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table:not(.linenotable) thead th {
    border-bottom: 1px solid #ddd;
}

td,
th {
    padding: 5px;
}

tfoot,
thead,
tr:nth-child(even) {
    background: #eee;
}

ul.checklist {
    list-style-type: none;
}

code {
    background-color: #eee;
}

code,
pre {
    font-family: "Source Code Pro", "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
    line-height: 1.5em;
    overflow-x: auto;
}

.listingblock>.content>pre:not(.highlight),
code {
    color: rgba(0, 0, 0, 0.9);
    font-size: 0.9em;
}

p>code {
    white-space: nowrap;
}

.center {
    text-align: center;
    overflow-x: auto;
}

.title {
    text-align: center;
    color: #666;
    font-style: italic;
    padding-top: 0.5em;
    margin-bottom: 1em;
}