@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  max-width: 800px;
  margin: auto;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Noto Serif CJK SC', 'Songti SC', 'Microsoft YaHei', serif;
  font-size: 20px;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 125%;
  text-align: justify;
  line-height: 1.5em;
}

.center{
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  body{
    margin-left: 5%;
    margin-right: 5%;
  }
} 

h1{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

h2{
  font-size: 28px;
  font-weight: bold;
}

h3{
  font-size: 22px;
  font-weight: bold;
}

h4{
  font-size: 20px;
  font-weight: bold;
}

p :not(footer){
  hyphens: auto;
  text-align: justify;
}

a {
    cursor: pointer;
    color: #0a58ca;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline
}

.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }

.katex { font-size: 1em !important; }

footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* misc elements */
img, iframe, video {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.title {
  text-align: center;
  font-style: italic;
}
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table.linenotable {
  border-collapse: separate;
  border: 0;
  margin-bottom: 0;
  background: none;
}
table.linenotable td.linenos {
  border-right: 1px solid currentColor;
  opacity: .35;
  padding-right: .5em;
}
table.linenotable td.code {
  padding-left: .75em;
}

code, .listingblock>.content>pre:not(.highlight) {
  font-variant-ligatures: none;
  color: rgba(0, 0, 0, .9);
  font-size: 0.75em;
  line-height: 1.125em;
}

table:not(.linenotable) {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table:not(.linenotable) thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

ul.checklist {
  list-style-type: none;
}

code,
pre {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.5em;
}
code, .listingblock>.content>pre:not(.highlight) {
    font-variant-ligatures: none;
    color: rgba(0, 0, 0, .9);
    font-size: 0.75em;
    line-height: 1.125em;
}
p>code {
  white-space: nowrap;
}