<html>
<head>
    <title>404</title>
    <style>
        body {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        p {
            font-family: monospace;
            text-align: center;
            font-size: 14px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
{{ content }}
</body>
</html>
