{%- include header.html -%}
<h1>Deo Valiandro. M</h1>
<p>
    Hy, nama saya Deo, seorang programmer. Website ini semacam <i>log</i> tempat saya menyimpan catatan-catatan
    pelajaran yang sebelumnya pernah saya pelajari, khususnya ketika saya masih berkuliah. Jika terdapat
    kekelirian mohon dikoreksi.
</p>

<h2>Kontak</h2>
<ol>
    <li><a href="https://github.com/deovaliandro" class="contact"><b>Github</b></a></li>
    <li><a href="https://gitlab.com/deovaliandro" class="contact"><b>GitLab</b></a></li>
    <li><a href="mailto:me@deo.or.id" class="contact"><b>me@deo.or.id</b></a></li>
    <li><a href="https://twitter.com/deovaliandro" class="contact"><b>@deovaliandro</b></a></li>
</ol>

<h2>Blog:</h2>
<ul>
    {% for post in site.posts %}
    <li>
        <p>{{ post.date | date: "%Y-%m-%d" }}, <a href="{{ post.url }}"
                title="{{ site.url }}{{ post.url }}">{{ post.title }}</a><span></span></p>
    </li>
    {% endfor %}
</ul>

<footer>
    <div class="center">
        <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" style="color: inherit;">CC
            BY-NC-SA 4.0</a> 2016-Sekarang, &copy; Deo Valiandro. M, <span id="love">🌱</span> with <span
            id="love">💗</span> from <span id="love">🇮🇩</span>.
    </div>
</footer>
</body>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [
                ['$', '$']
            ],
            displayMath: [
                ['$$', '$']
            ]
        }
    };
</script>

</html>