{%- include header.html -%}

<body>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    <script>document.addEventListener("DOMContentLoaded",function(){renderMathInElement(document.body, {delimiters: [{left:'$$',right:'$',display:true},{left:'$',right:'$',display:false}],throwOnError:true,trust:true});});</script>
    <div class="noselect">
        <h2 class="nobottom name">Deo Valiandro. M</h2>
        <p class="sub">My log</p>
        <nav class="noselect">
            <ul>
                <li><a href="/todo.html" class="nav">todo</a></li>
                <li><a href="/link.html" class="nav">link</a></li>
                <li><a href="/pp.html" class="nav">pp</a></li>
                <li><a href="/pbo.html" class="nav">pbo</a></li>
                <li><a onclick="switchTheme();" class="nav" id="changeTheme"></a></li>
            </ul>
        </nav>
        <!-- <img src="https://github.com/deovaliandro.png" alt="" class="me-img"> -->

        <!-- <h1 class="title">Deo Valiandro. M</h1> -->

        <p>Blog ini adalah tulisan pelajaran yang telah dipelajari sebelumnya, semoga tulisan ini bermanfaat kedepannya jika diperlukan kembali. Tulisan ini berbasis google sana dan google sini, semoga bermanfaat.</p>

        <h3 class="nobottom name">Contact</h3>
        <p class="sub">Here is how you can reach me.</p>
        <ul>
            <li><a href="/link.html">GitHub</a></li>
            <li><a href="/todo.html">Gmail</a></li>
            <li><a href="/pbo.html">Twitter</a></li>
            <li><a href="/pbo.html">Telegram</a></li>
        </ul>

        <a href="mailto:me@deo.or.id">email</a>][<a href="https://github.com/deovaliandro">git</a>][<a href="https://id.linkedin.com/in/deovaliandro">LinkedId</a>][<a href="https://github.com/deovaliandro.gpg">gpg</a>][<a href="https://twitter.com/deovaliandro">Twitter</a>][
        <a href="https://t.me/aheeemm">Telegram</a>]

        <h3>Catatan: </h3>
        <ol class="dash post">
            {% for post in site.posts %} {% if post.category != "pbo" and post.category != "pp" %}
            <li class="list-post">
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <div>
                    <a href="{{ post.url }}" title="{{ site.url }}{{ post.url }}" class="post-title">{{ post.title }}</a>
                </div>
                <span class="meta">{{ post.date | date: "%d/%m/%y" }} | {{ post.category }}</span>
            </li>
            {% endif %} {% endfor %}
        </ol>

    </div>

    <h3>Signature</h3>

    <code>
		<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

I truly claim that this website (https://deo.or.id/) is mine.

The most trusted my public keys source is on my GitHub profile:
https://github.com/deovaliandro

    Deo Valiandro. M
-----BEGIN PGP SIGNATURE-----

iQIzBAEBCAAdFiEEzmHPkxOP5DbMF00Qyuz46Kw72b0FAmIi9O4ACgkQyuz46Kw7
2b3AOhAAiY4JckwBMApo2IxMnsyAzY7tM4PdmMxiG8NYUWW2GtV0H9N4iiseFbtJ
ob1BtUTEXPnkUt1QoRgNfvHzUCtVlvOAT4whd25es30U3aat/YHdcZ1Qy56oy5Uk
RmIXQYKLoRDEP48iuqg10owvCNlybKxu0Yp5iQ2A2DytJyXlglfeiomJmYwCstiI
L6WgFAExIi2dsn91Q29zmq/QL/f8zTyBJRn/PLX3FynMPDD7D5bMQmEZtk/jTaOc
6i2felEtYGweNr1d9v5QFG8lL9vawkZDC05TBPQpETr8Zm21ZoBAMLS1ZoxYbd/e
LgK0RbMyO3NgZERMDPo+2+FrIGZcS/7v1E+ccgVKGuRIw5F0rVrwiivZV9yP+nbP
+pnMkqbhYPE7IxkuLN2QYf0qACJp7MeJRHtLzKB7bWZ5FW+ypRu1BWKry1qs7vxh
YSJaBSMD3PIzwHaPtgoVIUQmL4tvaE4bwwQYMJnKz94EuDU+1yioxIfDrClAbSr0
fbBECjnEindU7qEMu10eoDGKfpidVDaQ13f6ZAYrjshZcZYg0OGNreRU8l6S/x9u
bok45WSoCsasiZVLYi5yOm/UK6VOo65yqwRMF53hzIHgAPVNqGBOkZlPIYKcYkOm
ObwNpJCrgNfkqGyi4ytrDvf/lxPrVkbQkLp6dSWQSmxpTkRJdso=
=gMEX
-----END PGP SIGNATURE-----
		</pre>
	</code>

    <hr>
    
    {%- include footer.html -%}

</body>

</html>