{%- include header.html -%}
<main>
  <h1>{{ page.title }}</h1>
  <ol class="post">
    {% for post in site.posts %}
    <li>
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <h2><a href="{{ post.url }}" title="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
      <span class="meta">{{ post.category }}, {{ post.date | date: "%-d %B %Y" }}</span>
      <p class="desc">{{ post.desc }}</p>
      {% endfor %}
    </li>
  </ol>
  {%- include footer.html -%}
</main>