{%- include header.html -%}
<main>
    <article>
        <h1>👋 Hello there!</h1>
        <p>
            Nama saya Deo. Website ini semacam <i>log</i> tempat saya
            menyimpan catatan-catatan pelajaran yang sebelumnya pernah saya
            pelajari, khususnya ketika saya masih berkuliah. Jika terdapat
            kekelirian mohon dikoreksi.
        </p>
        <a href="/archived.html"> 📚 archived</a>
    </article>

    <article>
    <h2>Tulisan terbaru:</h2>
    </article>
    {% for post in site.posts limit:3 %}
    <article>
        <a href="{{ post.url }}" title="{{ site.url }}{{ post.url }}">{{ post.title }}</a> 📎 {{ post.category }}, 🗓️ {{ post.time | date: "%-d %B %Y" }}.
        <hr>
        <p>{{ post.desc }}</p>
    </article>
    {% endfor %}
    {%- include footer.html -%}
</main>
</body>
{% if page.math %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$']],
            displayMath: [['$$', '$']]
        }
    };
</script>
{% endif %}

</html>