{% include header.html %}

  <!-- judul utama -->
  <h1>{{ page.title }}</h1>

  <!-- signed-by (penulis utama) -->
  {% if page.signed-by %}
  <span class="signed-by">
    Ditulis oleh {{ page.signed-by }} pada {% if page.time %}{{ page.date | date: "%-d %B %Y" }}{% else %}∞{% endif %}.
    {% if page.update %} Diperbaharui pada {{ page.update | date: "%-d %B %Y" }}.{% endif %}
  </span>
  {% endif %}

  <!-- data penulis dan info lainnya -->
  <span class="date">
    <i>{% if page.time %}{{ page.date | date: "%F" }}{% else %}∞{% endif %} — {{ site.time | date: "%F" }}</i> $\cdot$
    <i>{{ page.finish }}</i> $\cdot$ <a href="{{ page.link }}#bibliography">bibliography</a> $\cdot$ <a
      href="{{ page.link }}#footnotes">footnote</a>
  </span>

  <!-- toc dan summary -->
  <aside>
    <div class="toc">
      <details>
        <summary>Daftar Isi</summary>
        {% if page.document %}
        {% capture toc %}{{ page.document | tocify_asciidoc }}{% endcapture %}{% if toc != '' %}<div class="toc">
          {{ toc }}
        </div>{% endif %}
        {% endif %}
      </details>
    </div>
    <div class="pengantar">
      {{ page.desc }}
    </div>
  </aside>

  <!-- isi tulisan -->
  <main>
    {{ content }}
  </main>

  <!-- footer -->
  {% include footer.html %}

</body>