{%- include header.html -%}
<main>
    <div class="navigation">
        [<a href="/" class="email">/home</a>]
        {%- include nav.html -%}
    </div>
    {{ content }}
    <h3 id="pp">Pengantar pemrograman dengan Java:</h3>
    <p>Java merupakan sebuah bahasa pemrograman yang dijadikan sebagai bahan pembelajaran mata kuliah pengantar
        pemrograman di Ilmu Komputer Universitas Hasanuddin.</p>
    <ol class="dash post">
        {% for post in site.categories.pp reversed %}
        {% if post.url %}
        <li>
            <span class="meta">{{ post.date | date: "%d/%m/%y"}},</span>
            <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
    <hr>
    {%- include footer.html -%}
</main>
</body>

</html>